In [1]:
import pandas as pd
import numpy as np

In [15]:
data = pd.read_csv('assets/data/gdp-constant-US$2015.csv', skiprows=3)
data.drop(columns = ['Country Code', 'Indicator Name', 'Indicator Code'], inplace = True)

In [16]:
data.columns

Index(['Country Name', '1960', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', 'Unnamed: 66'],
      dtype='object')

In [17]:
year = 2020
data = data[['Country Name', str(year)]]

In [18]:
country_list = ['Italy', 'Germany', 'France', 'United Kingdom']
data = data[data['Country Name'].isin(country_list)]

       Country Name          2020
55          Germany  3.435817e+12
77           France  2.411255e+12
81   United Kingdom  2.891616e+12
116           Italy  1.745434e+12

In [20]:
data

       Country Name          2020
55          Germany  3.435817e+12
77           France  2.411255e+12
81   United Kingdom  2.891616e+12
116           Italy  1.745434e+12