In [1]:
import pandas as pd
import numpy as np

In [4]:
def specific_countries_time_series(data, country_list: list):

        data.drop(columns = ["Country Code", "Indicator Code", "Indicator Name"], inplace = True)
        data = data[data["Country Name"].isin(country_list)]
        data = data.rename(columns={'Country Name':'Year'})
        data = data.transpose()
        new_header = data.iloc[0]
        data = data[1:]
        data.columns = new_header
        data = data.dropna()
        data = data.astype(float)
        data.index = pd.to_datetime(data.index)
        return data

In [7]:
data = pd.read_csv('assets/data/inflation-gdp-deflator-percent.csv', skiprows = 3)
country_list = ["Indonesia", "Malaysia"]

ind_mas = specific_countries_time_series(data=data, country_list=country_list)

ind_mas.to_csv('assets/cleaned_data/indonesia-malaysia-inflation.csv')

In [9]:
my_data = pd.read_csv('assets/cleaned_data/indonesia-malaysia-inflation.csv', index_col = 'Unnamed: 0')

my_data

             Indonesia   Malaysia
1961-01-01   13.936016  -7.758583
1962-01-01  178.866740  -1.110946
1963-01-01  145.841086  16.837626
1964-01-01  114.731159   1.126726
1965-01-01  228.818941   2.652405
1966-01-01  -98.703831  -1.377541
1967-01-01  164.721841  -2.323086
1968-01-01  122.972806  -3.280695
1969-01-01   21.353202   4.905967
1970-01-01   14.253072  -0.509437
1971-01-01    2.724737  -0.468654
1972-01-01   16.119839   0.343843
1973-01-01   36.878480  17.874120
1974-01-01   47.310497  12.709236
1975-01-01   12.468058  -3.077578
1976-01-01   14.456795  12.726161
1977-01-01   13.012363   6.865121
1978-01-01   12.064899   9.840381
1979-01-01   31.187189  12.059477
1980-01-01   29.145500   6.875079
1981-01-01   10.150715   1.060019
1982-01-01    7.950504   2.559056
1983-01-01   18.612700   5.910387
1984-01-01   10.421830   4.792784
1985-01-01    6.191364  -1.605922
1986-01-01    2.253771  -8.717320
1987-01-01   16.003816   7.666715
1988-01-01    7.629109   3.620026
1989-01-01    9.485030   4.461704
1990-01-01    9.093950   3.807815
1991-01-01    8.767039   3.584699
1992-01-01    7.288856   2.414242
1993-01-01   19.152578   3.986971
1994-01-01    7.776573   3.937335
1995-01-01    9.882045   3.633420
1996-01-01    8.676510   3.679903
1997-01-01   12.571376   3.482350
1998-01-01   75.271169   8.498720
1999-01-01   14.161196   0.045453
2000-01-01   20.447457   8.855217
2001-01-01   14.295715  -1.581874
2002-01-01    5.896052   3.128883
2003-01-01    5.487429   3.298933
2004-01-01    8.550727   6.009283
2005-01-01   14.331787   8.862586
2006-01-01   14.087424   3.980932
2007-01-01   11.258579   4.881323
2008-01-01   18.149751  10.388900
2009-01-01    8.274752  -5.992202
2010-01-01   15.264294   7.266846
2011-01-01    7.465943   5.412408
2012-01-01    3.753879   0.999932
2013-01-01    4.965990   0.174474
2014-01-01    5.443175   2.467467
2015-01-01    3.980243   1.218056
2016-01-01    2.438924   1.658260
2017-01-01    4.292678   3.778961
2018-01-01    3.818324   0.624729
2019-01-01    1.598798   0.074344
2020-01-01   -0.456130  -0.777809

In [17]:
year = 2020
data = data[['Country Name', str(year)]]

In [18]:
country_list = ['Italy', 'Germany', 'France', 'United Kingdom']
data = data[data['Country Name'].isin(country_list)]

       Country Name          2020
55          Germany  3.435817e+12
77           France  2.411255e+12
81   United Kingdom  2.891616e+12
116           Italy  1.745434e+12

In [20]:
data

       Country Name          2020
55          Germany  3.435817e+12
77           France  2.411255e+12
81   United Kingdom  2.891616e+12
116           Italy  1.745434e+12